/*KUMAR SHETYE*/

/*For Nav Bar*/
/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* Dropdown styling */
.dropdown-menu {
    border-radius: 8px;
}

/*Home nav item*/
.home_item {
    color: white !important;
}

/* Fix dropdown auto-close on hover */
.nav-item.dropdown:hover > a {
    color: black !important;
}

/* Dropdown item hover background color */
.dropdown-menu .dropdown-item:hover {
    background-color: #e0e0e0 !important;  /* stronger grey */              
}

/*Targets the font for the navbar*/
a{
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

/*Page 3 - Why Climate Action is Critical?*/
.body1{
	background-color: #FDFFE5;
}

.page3 h1{
	text-align: center; /*This is to align the header to the center of the page, note that we use ".page3 h1" as I have wrapped everything within the body tag in a div to ensure that only the contents of page3 will be modified by the CSS*/
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.page3 h2{				/*This is to align the second header to the center of the page*/
	text-align: center;
	font-size: 18px;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.page3 .image{
    width: 97%;
    height: 380px;        
    object-fit: cover;    /* Keeps image from stretching */
    border-style: solid;  /* Makes the solid border around the image */
	border-width: 5px;
	border-color: #000000;
	border-radius: 13px;  /* Makes the edges of the border curved */
}

.page3 .p1{
    border-style: solid;
	border-width: 5px;
	border-color: #000000;
    width: 97%;
    height: 380px;        /* Matches the image height exactly */
    font-size: 110%;
    padding: 5%;
    display: flex;        /* Centers the text vertically */
    justify-content: center;
    align-items: center; /* Aligns the content to the center */
    text-align: center;  /* Aligns the position of the text to the center */
	background-color: #F0FAEB;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	border-radius: 13px;
}

.page3 .row{			/*This is to remove the vertical gap between rows*/
	margin-bottom: 2%; 
}

.formKumar{
	max-width: 700px;
	margin: 0 auto;
	padding: 20px;
	background-color: #F0FAEB;
	border-style: solid;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	border-radius: 13px;
}
input[type="text"],
textarea {
	width: 80%;
	height: 5%;
	padding: 10px;
	margin: 5px 0;
	border-style: solid;
	border-color: #000000;
	box-sizing: border-box;
	font-size: 16px;
	border-radius: 13px;	
}

input[type="submit"]{
	color: #fff;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;	
}


/*Page 4 - Effects of Climate Change*/
.body2{
	background-color: #FDFFE5;
}

.page4 h1{				/*Centering the first header*/
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.page4 h2{				/*Centering the second header*/
	text-align: center;
	font-size: 18px;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.page4 h3{
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.page4 .image2{			/*Setting the dimensions for the image*/
	height: 250px;
	width: 86%;
	border-style: solid;
	border-width: 5px;
	border-color: #000000;
	border-radius: 13px;
}

.page4 .p2{				/*This is to make a box around the paragraph, setting the size and if the text overflows then a scroll bar will appear enabling the user to scroll through the paragraph within the box*/
	border-style: solid;
	width: 86%;
	height: 250px;
	margin: auto;
	overflow-y: auto;
	padding: 5%;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	border-width: 5px;
	border-color: #000000;
	background-color: #F0FAEB;
	justify-content: center;
	font-size: 110%;
	border-radius: 13px;
}

.page4 .row {
    margin-bottom: 2px; /* smaller vertical gap */
}


