h1{
	text-align: center;
}

.image{
	width: 900px;
	height: 250px;
}

.p1{
	border-style: solid;
	width: 900px;
	height: 250px
}

button{
	display: block;
	margin: 0 auto;
}

.image2{
	display: block;
	width: 1800px;
	height: 600px;
	margin: 0px auto;
}

.p2{
	border-style: solid;
	width: 538px;
	height: 250px;
	margin: auto;
}

.btn{
	margin: auto;
	width: 538px;
	height: 250px;

}